server:
  host:
  port: 8080
  timeout: 5
  origins:
    - http://localhost:3000
  headers:
    - X-Requested-With
    - Content-Type
  methods:
    - GET
    - POST
    - DELETE
    - PUT
    - HEAD
    - OPTIONS

services:
  description:
    host:
    port: 50051

session:
  duration: 720h

user_key: "user"

vk_api:
  exchange:
    url: https://id.vk.com/oauth2/auth
    method: POST
    content_type: application/x-www-form-urlencoded
  public_info:
    url: https://id.vk.com/oauth2/public_info
    method: POST
    content_type: application/x-www-form-urlencoded

logger:
  key: "log"
  path: "logs.json"
  err_path: "stdout"
